<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <link rel="stylesheet" href="css/style.css">

    <title>Main Page</title>

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<script type="text/javascript">
    $(document).ready(() => {
        $("#form").submit((event) => {
            event.preventDefault();
            $.ajax({
                type: 'POST',
                url: '/',
                data: $('#form').serialize(),
                dataType: "json",
                success: (response) => {
                    $('#form')[0].reset();
                    if (response) alert("Готово");
                }
            })
        });
    });
</script>


    <!-- Modal -->
    <div class="modal-body-general" id="modalBody">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="selectLanguage"></h5>
                </div>
                <div class="modal-body">
                    <img src="img/GB.png" alt="GB.png" id = "flag-GB" onclick="changeLanguage('GB')">
                    <img src="img/UK.png" alt="UK.png" id = "flag-UK" onclick="changeLanguage('UK')">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="buttonStart"></button>
                </div>
            </div>
        </div>
    </div>

    <form class="content-body-general" id="generalBody" method="post">
        <p id="temp1"></p>
        <p id="temp2"
           style="color: brown; text-decoration: underline; cursor: pointer"
           onclick="localStorage.removeItem('language'); location.reload()"></p>
        <br><br><br>
        <p><input type="text" name="token" required></p>
        <p>Токен телеграм бота</p>
        <p><a href="https://sendpulse.ua/ru/knowledge-base/chatbot/create-telegram-chatbot" target="_blank">Як створити телеграм бота</a></p>
        <br>
        <hr>
        <br>
        <p><input type="text" name="channel" required></p>
        <p>ID телеграм каналу</p>
        <p><a href="#" onclick="alert('В розробці')">Як отримати ID каналу</a></p>
        <br>
        <hr>
        <br>
        <p><input type="text" name="link" required></p>
        <p>Посилання на відео</p>
        <br>
        <button type="submit">Розпочати</button>
    </form>

</body>
<script src="JS/modal.js"></script>

<!-- Bootstrap -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.6/dist/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

</html>